In [1]:
a= "sudh"

In [2]:
len(a)

4

In [3]:
 l=[2,3,4,5,"ashiq",4.67]
len(l)

6

In [4]:
#why we are creating a function ,just to increase the re usability of the code ?

In [5]:
#def means definition of a function
#so to denote a function, we starts with a 'def'

In [9]:
def test():
    pass

In [11]:
def test1():
    print("this is my very first function in python")

In [12]:
test1() #call off function

this is my very first function in python

In [13]:
a=1

In [14]:
b=test1()

this is my very first function in python

In [16]:
print(b) #no information in the "b"

None

In [17]:
c="kumar"

In [18]:
type(c)

str

In [19]:
type(b)

NoneType

In [22]:
type(test1())

this is my very first function in python

NoneType

In [23]:
def test2():
    return 5

In [24]:
test2()

5

In [27]:
d=test2()

In [28]:
d  #there is an info

5

In [30]:
type(print("this...."))

this....

NoneType

In [31]:
def test3():
    return 5

In [32]:
def test4():
    print("this is my print return")

In [33]:
test3()

5

In [34]:
test4()

this is my print return

In [35]:
type(test4())

this is my print return

NoneType

In [36]:
type(test3()) #primtive outcome ,where we can perform some content

int

In [37]:
e=test4()

this is my print return

In [39]:
e+"sudh" # nonetype and str cant concatenate

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [45]:
def test5():
    return "vinoth" #if we give print(),the type gonna be a nonetype

In [46]:
test5()+"kumar"

'vinothkumar'

In [49]:
def test6():
    return 1,3,[3,4,5,"ashiq"],(3,4,5,6) # we can return multiple entities

In [50]:
test6()

(1, 3, [3, 4, 5, 'ashiq'], (3, 4, 5, 6))

In [51]:
type(test6())

tuple

In [54]:
test6()[1]

3

In [56]:
def test7():
    return 1,3,[3,4,5,"ashiq"],(3,4,5,6)

In [57]:
test7()

(1, 3, [3, 4, 5, 'ashiq'], (3, 4, 5, 6))

In [58]:
a,b,c,d=test7() #unpacking the elemnets of the tuple

In [59]:
a

1

In [60]:
b

3

In [61]:
c

[3, 4, 5, 'ashiq']

In [62]:
d

(3, 4, 5, 6)

In [63]:
a=1
b=2
c="ashiq"

In [65]:
a,b,c=1,2,"sidh"

In [66]:
a

1

In [67]:
c

'sidh'

In [68]:
def test8():
    a=4*5+8
    return a

In [71]:
test8()

28

In [72]:
test8()+9

37

In [87]:
l=[2,3,4,5,6,7,8,9]
sum=0   #inbuilt funtion
for ele in l:
    #print(f"{ele} and then the index {l.index(ele)}")
    sum=sum+ ele
print(sum)

44

In [89]:
l=[2,3,4,5,6,7,8,9]
for ele in l:
    print(l.index(ele))

0
1
2
3
4
5
6
7

In [100]:
l=[1,2,3,4,5,6,7,8]
i=0
for ele in l:
    l[i]=l[i]+l[i+1]
    l.remove(l[1])
print(l[i])

15

In [128]:
def test9():
   l=[2,3,4,5,6,7,8,9,'ashiq']
   sum=0  
   for ele in l:
      if int==type(ele):
        sum=sum+ ele
      return sum

In [118]:
l=[2,3,4,5,6,7,8,9,'ashiq']
sum=0  
for ele in l:
  if int==type(ele):
    sum=sum+ ele
    print(sum)

2
5
9
14
20
27
35
44

In [139]:
l1=[4,5,6,7,7,8,"kuamr",4.56]
for ele in l1:
    if int==type(ele) or float==type(ele):
        print(ele)

4
5
6
7
7
8
4.56

In [152]:
l1=[4,5,6,7,7,8,"kumar",4.56]
def test10(l1):
    sum=0
    for ele in l1:
        if int==type(ele):
            sum=sum+ele
    return sum  #please note the indentation properly

In [154]:
test10(l1)

37

In [160]:
test11() #no arguments are being passed here ,so it throws an error

TypeError: test11() missing 2 required positional arguments: 'a' and 'b'

In [161]:
test11(2,3)

5

In [162]:
test11("abdul","ashiq")

'abdulashiq'

In [159]:
def test11(a,b):
    return a+b

In [163]:
test11(a=7,b=5)

12

In [164]:
test11(b=4,a=5)

9

In [181]:
l=[3,4,5,6,7,8,"abdul",5,6,7,"kumar","ineuron"]

In [196]:
def test12(l):
    """ this is my function which will help you to separate a string from list into a new list """
    list1=list()
    for ele in l:
        if str==type(ele):
            list1.append(ele)
    return list1

In [197]:
test12(l)

['abdul', 'kumar', 'ineuron']

In [198]:
l2=["fasda","fadss","wjvbwv","sqjbqie",456,56]

In [199]:
test12(l2)

['fasda', 'fadss', 'wjvbwv', 'sqjbqie']

In [200]:
len("fasfwf")

6

In [201]:
print()

In [202]:
test12()

TypeError: test12() missing 1 required positional argument: 'l'

In [203]:
test12(l)

['abdul', 'kumar', 'ineuron']

In [ ]:
1.write a function which will try to find out length of a string without using an in build function
2.write a function which will be able to print an index of the list element 
3.write a function which will be able to print an ip address of your system
4.write a function which will shutdown your system 
5.write a fucntion which will take a input as a list with any kind of numeric value and give an out as a multilication of all the numeric data
l=[3.5,6.56,4,5,"sudh","ineuron","fsda bootcamp2.0"]
7.write a function which will be able to send a mail to anyone
8.write a function which will be able to read a doc/word file from your system
mail id =query@ineuron.ai
submit your git link to mail

In [217]:
a="ashiq"
len(a)

5

In [228]:
a="ashiq abdul"
a=list(a)
cou=0
for ele in a:
    if ele!="":
        cou=cou+1
print(cou)

11